h1 {
    margin: 20px auto;
    text-align: center;
}

h3 {
    text-align: center;
}

/* стили для первого таска */
.parent {
    width: 90%;
    display: flex;
    flex-direction: column;
    background: rgb(70, 64, 64);
    padding: 10px;
    border-radius: 4px;
    margin: 0 auto;
}

.flex_container__1, .flex_container__2, .flex_container__3, .flex_container__4, .flex_container__5 {
    padding: 5px 0;
    width: 100%;
}

.flex_container__1 {
    display: flex;
    justify-content: flex-start;
}

.flex_container__2 {
    display: flex;
    justify-content: flex-end;
}

.flex_container__3 {
    display: flex;
    justify-content: center;
}

.flex_container__4 {
    display: flex;
    justify-content: space-between;
}

.flex_container__5 {
    display: flex;
    justify-content: space-around;
}

.block_1, .block_2, .block_3 {
    width: 150px;
    height: 70px;
    margin: auto 2px;
    border-radius: 4px;
}

.block_1 {
    background: rgb(255, 69, 2);
}

.block_2 {
    background: rgb(128, 248, 7);
}

.block_3 {
    background: rgb(133, 26, 233);
}

/* стили для второго таска */

.parent_2 {
    width: 90%;
    display: flex;
    flex-direction: column;
    border: 3px dotted rgb(92, 89, 89);
    background: rgb(209, 204, 204);
    margin: 0 auto;
    border-radius: 4px;
}

.container_6, .container_7 {
    width: 100%;
    display: flex;
    height: 200px;
}

.container_6 {
    justify-content: flex-start;
    border-bottom: 4px solid rgb(5, 5, 5);
}

.container_7 {
    justify-content: space-between;
}

.block_4, .block_5, .block_6, .block_7 {
    display: flex;
    background: rgb(6, 184, 6);
    width: 33.3333%;
    height: 100%;
    box-sizing: border-box;
}

.block_4 {
    border-right: 1px solid rgb(24, 23, 23);
}

.block_5 {
    border-right: 4px solid rgb(5, 5, 5);
}

.block_6 {
    border-right: 4px solid rgb(5, 5, 5);
}

.block_7 {
    border-left: 1px solid rgb(24, 23, 23);
}

.child_1, .child_2, .child_3 {
    background: rgb(255, 69, 2);
}

.child_1 {
    width: 10%;
    height: 80%;
    margin: auto;
}

.child_2 {
    width: 100%;
    height: 50%;
    align-self: flex-end;
}

.child_3 {
    width: 45%;
    height: 75%;
    align-self: flex-end;
}

/* конец стилей второго таска */

/* стили для третьего таска */

.wrapper {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

header, main, nav, aside, footer {
    text-align: center;
    border: 2px solid rgb(71, 70, 70);
    margin-bottom: 10px;
    background: rgba(245, 237, 237, 0.616);
}

header, footer {
    height: 60px;
}

main, nav, aside {
    height: 250px;
}

header {
    width: 100%;
    order: 1;
}

nav {
    width: 17%;
    flex: 1 2 17%;
    order: 2;
    margin-right: 10px;
}

main {
    width: 60%;
    flex: 3 1 60%;
    order: 4;
    margin-right: 10px;
}

aside {
    width: 17%;
    flex: 1 2 17%;
    order: 5;
}

footer {
    width: 100%;
    order: 6;
}

/* немного адаптива */
@media screen and (max-width:800px){
    .wrapper {
        flex-direction: column;
    }
    main, nav, aside {
        width: 100%;
    }

    nav, aside {
        height: 60px;
    }
   } 

/* конец стилей третьего таска */

/* Стили для четвертого таска */

.left_aside {
    order: 2;
    margin-right: 10px;
    display: flex;
}

ul {
    padding: 0;
    margin: auto;
}

li {
    list-style: none;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: royalblue;
}

li:hover {
    cursor: pointer;
    color: red;
}

.main_content {
    height: auto;
    box-sizing: border-box;
    padding: 5px;
}

.right_aside {
    display: flex;
    flex-direction: column;
}

.list_item {
    width: 100%;
    margin: auto;
    text-align: center;
    color: rgb(23, 197, 0);
    text-transform: uppercase;
}

.list_item:hover {
    cursor: pointer;
    color: rgb(229, 255, 0);
}

@media screen and (max-width:800px){
    .wrapper {
        flex-direction: column;
    }
    main, aside {
        width: 100%;
    }

    aside {
        height: 60px;
    }

    li {
        display: inline;
        margin-right: 20px;
    }

    .right_aside {
        flex-direction: row;
        justify-content: center;
    }

    .list_item {
        width: 20%;
        margin: o auto;
    }

   } 

/* конец стилей для четвертого таска */

/* Туту таски с Grid */
/* стили для первого таска */

.grid_container_1 {
    width: 90%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-auto-rows: 80px 100px 100px;
    grid-template-areas: 
    "head head"
    "contant aside"
    "contant aside";
    margin: 0 auto 60px;
}

.block_head {
    grid-area: head;
    width: 100%;
    background: blueviolet;
}

.block_content {
    grid-area: contant;
    width: 100%;
    background: rgb(45, 230, 243);
}

.block_aside {
    grid-area: aside;
    width: 100%;
    background: rgb(250, 71, 6);
}
/* конец стилей для первого грида */

/* стили для второго грида */

.grid_container_2 {
    width: 90%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-auto-rows: 200px 200px;
    grid-template-areas: 
    "left_block right_block"
    "left_block right_block";
    margin: 0 auto 60px;
}

.left_block {
    grid-area: left_block;
    width: 100%;
    background: rgb(250, 71, 6);
}

.right_block {
    grid-area: right_block;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 30% 35% 35%;
    grid-template-areas: 
    "head_block head_block"
    "mid_block count_block"
    "bottom_block count_block"
}

.head_block {
    grid-area: head_block;
    background: rgb(146, 44, 241);
}

.mid_block {
    grid-area: mid_block;
    background: rgb(45, 230, 243);
}

.bottom_block {
    grid-area: bottom_block;
    background: rgb(9, 189, 9);
}

.count_block {
    grid-area: count_block;
    background: rgb(250, 71, 6);
}

/* конец стилей для второго грида */

/* стили для третьего грида */

.grid_container_3 {
    width: 90%;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-auto-rows: 100px;
    grid-template-areas: 
        "purpur purpur acua_1 green_1"
        "purpur purpur black_block black_block"
        "purpur purpur orang acua_2"
        "purpur purpur orang green_2";
    margin: 0 auto 60px;
}

.purpur {
    grid-area: purpur;
    background: blueviolet;
}

.acua_1 {
    grid-area: acua_1;
    background: rgb(45, 230, 243);
}

.green_1 {
    grid-area: green_1;
    background: green;
}

.black {
    grid-area: black_block;
    background: rgb(0, 0, 0);
}

.orang {
    grid-area: orang;
    background: rgb(250, 71, 6);
}

.acua_2 {
    grid-area: acua_2;
    background: rgb(45, 230, 243);
}

.green_2 {
    grid-area: green_2;
    background: green;
}

/* конец стилей для третьего грида */