/* Общие стили */
body {
    font-family: 'PT Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

h4, h5, h6 {
    font-size: 34px;
    font-weight: normal;
}

h1 {
    font-size: calc(24px + 25 * (100vw - 660px) / 540);
    text-align: center;
    margin-top: 75px;
    margin-bottom: 45px;
    font-weight: normal;
}

h2 {
    font-size: calc(22px + 7 * (100vw - 660px) / 540);
    text-align: center;
    margin-top: 0;
    margin-bottom: 165px;
}

h3 {
    font-size: calc(22px + 11 * (100vw - 660px) / 540);
    color: #3d6cb0;
}

h4 {
    font-size: calc(20px + 7 * (100vw - 660px) / 540);
    margin-top: 0;
    margin-bottom: 30px;
}

h5 {
    font-weight: 700;
    display: inline;
}

h6 {
    font-size: calc(20px + 7 * (100vw - 660px) / 540);
    margin: 20px auto 30px 70px;
}

p {
    font-size: 16px;
}


/* обертка для страничик */
.wrapper {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: 
        "header  experience_info"
        "header  experience_info"
        "general_info experience_info"
        "general_info experience_info"
        "footer  footer";
    margin: 0 auto;
    /* max-height: 2480px; */
}

/* тут оформление хедера*/
header {
    grid-area: header;
    width: 100%;
    margin-top: 176px;
}

.head__block {
    display: flex;
    flex-direction: column;
    max-width: 824px;
    margin: 0 auto;
}

.head__block_background {
    margin: auto;
    width: 464px;
    height: 464px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 1px solid #3d6cb0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.head__block_img {
    margin: auto;
    width: 405px;
    height: 405px;
    box-sizing: border-box;
    border-radius: 50%;
    background: #3d6cb0;
}

.surname_title {
    font-weight: 700;
}

/* тут контент */
/* левая часть страницы */
.general_info {
    grid-area: general_info;
    width: 100%;
    max-height: 1800px;
}

.general_info__block {
    margin: 0 8% 90px 8%;
    text-align: left;
    width: 84%;
    max-width: 824px;
}

.title_block {
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.title_block__img {
    width: 18%;
    margin-right: 1%;
    margin-left: 0;
}

.title_block__img img {
    width: 100%;
}

.title_block__name {
    width: 34%;
    margin-left: 0;
    margin-right: 1%;
}

.title_block__line {
    width: 48%;
    margin-right: 0;
    margin-left: 0;
    box-sizing: border-box;
    border: 3px solid #3d6cb0;
}

.title_block__content {
    margin-top: 24px;
}

.block_ourInformation, .block_contactInfomation {
    display: inline-block
}

.block_contactInfomation {
    margin-left: 80px;
}

.p_content {
    line-height: 28px;
    font-size: 28px;
    text-transform: uppercase;
    color:#3d6cb0;
    font-weight: bold;
}

p.contactInfomation {
    line-height: 28px;
    font-size: 28px; 
}

.block_contactInfomation  a {
    line-height: 28px;
    font-size: 28px;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.block_skills, .block_skil__info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.block_skil__info {
    margin: 0 auto 54px;
}

.block_skil__title {
    text-align: center;
}

.block_skill__scale {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
} 

.skill_level {
    width: 35px;
    height: 35px;
    background: #3d6cb0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.skill_level__empty {
    background: #e6e6e6;
}

/* правая часть страницы */
.experience_info {
    grid-area: experience_info;
    margin-top: 125px;
    width: 100%;
    /* max-height: 2825px; */
}

.experience_info__block {
    margin: 0 8% 105px 8%;
}

.adaptive_img {
    width: 12%;
}

time {
    font-weight: normal;
    color: black;
}

/*правка маркеров li-шки*/

ul{
  list-style:none;
  margin:0;
  padding: 0;
}

 
li:before{
  content: '';
  display: inline-block;
  height:25px;
  width: 25px;
  vertical-align: middle;
  border-radius:50%;
  background-color:#000000;
  margin-right:43px;
  margin-bottom: 15px;
}

/* -------------------------------------------- */

li p {
    margin-bottom: 31px;
}

.title_block__h5master {
    color: #3d6cb0;
}

.block_software {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.item_soft {
    width: 45%;
    margin-top: 58px;
}

.sowtware_h6 {
    margin: 0 auto 40px 0;
}

.parent_indicator {
    width: 100%;
    background: #e6e6e6;
    height: 44px;
    box-sizing: border-box;
}

.indicator {
    background: #3d6cb0;
    height: 100%;
    box-sizing: border-box;
}

.indicator_photoshop {
    width: 91%;
}

.indicator_illustrator {
    width: 70.5%;
}

.indicator_indesing {
    width: 56%;
}

.indicator_dreamweaver {
    width: 83%;
}

.indicator_effects {
    width: 61%;
}

.indicator_html {
    width: 91%;
}

/*оформление подвала с логотипом*/
footer {
    grid-area: footer;
    margin: 0 ;
}

.footer__logo {
    max-width: 736px;
    height: auto;
    margin: 0 auto;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

/* адаптив под меньшие экраны */

@media screen and (max-width:1391px){
    .experience_info {
        margin-top: 0px;
    }
    .p_content, p.contactInfomation {
        font-size: 24px;
    }
    .block_contactInfomation {
        margin-left: 50px;
    }
    .parent_indicator {
        height: 35px;
    }
   } 

@media screen and (max-width:1290px) {
    .skill_level {
        height: 30px;
        width: 30px;
    }
    .parent_indicator {
        height: 30px;
    }
    .item_soft {
        margin-top: 15px;
    }
    .sowtware_h6 {
        margin-bottom: 15px;
    }
}

@media screen and (max-width:1250px) {
    .wrapper {
        grid-template-areas: 
        "header  header"
        "general_info  general_info"
        "experience_info experience_info"
        "footer  footer";
    }
    h1 {
        font-size: 54px;
    }
    h2 {
        font-size: 50px;
    }
    .general_info__block {
        margin: 0 auto 50px auto;
    }
     h3 {
        font-size: 50px;
        margin: auto;
    }
    .p_content, p.contactInfomation {
        font-size: 30px;
    }
    .block_contactInfomation {
        margin-left: 80px;
    }
    .skill_level {
        width: 35px;
        height: 35px;
    }
}

@media screen and (max-width:940px) {
    .title_block {
        justify-content: space-between;
    }
    .title_block__img {
        flex: 0 1 16%;
    }
    .title_block__name {
        flex: 2 0 34%;
    }
    .title_block__line {
        flex: 0 10 40%
    }
    h3 {
        font-size: 42px;
    }
}

@media screen and (max-width:640px) {
    .title_block__line {
        flex: 0 10 30%
    }
    .p_content, p.contactInfomation {
        font-size: 26px;
    }
    .block_contactInfomation {
        margin-left: 30px;
    }
    .skill_level {
        width: 30px;
        height: 30px;
    }
}